{% extends "questions/base.html" %}

{% block title %}Choice Group Edit{% endblock %}

{% block content %}

    <br>
<form method="post">
    {% csrf_token %}
    {{ form }}

    <input type="submit" value="Submit">
</form>
<br>

{#    <table class="table table-bordered table-sm ">#}
        <table id="myTable" class="hover compact cell-border" data-page-length='100' style="width:100%">
        <thead>
        <tr>
            <td>Choice Group</td>
            <td>Action</td>
            <td>Created by</td>
            <td>Modified</td>
        </tr>
        </thead>
        {% for cg in objects %}
            <tr>
                <td><a href="{% url 'questions:choice-create' cg.pk %}">{{ cg.choice_group }}</a></td>
                <td><a href="{% url 'questions:choice-group-update' cg.pk %}" class="btn btn-primary btn-sm" role="button" >Rename</a></td>
                <td>{{ cg.created_by }}</td>
                <td>{{ cg.last_modified }}</td>
            </tr>
        {% endfor %}
    </table>

       <script>
        $(document).ready( function () {
            {#$('#myTable').DataTable();#}

            $('#myTable').DataTable({
                "order": [3, "desc"]  //sort order 0 based columns
                {#"order": [[0, "desc"], [1, "asc"]]  //sort order 0 based columns#}
            });
        })
    </script>

{% endblock %}