{% extends "questions/base.html" %}

{% block title %}My Questions List{% endblock %}

{% block content %}


    <table id="myTable" class="hover compact cell-border" data-page-length='10' style="width:100%">
{#    <table class="table table-bordered table-sm ">#}
    <thead>
        <tr>
            <td>Question</td>
            <td>Correct Choice</td>
            <td>Choice Group</td>
            <td>Action</td>
            <td>Modified</td>
        </tr>
    </thead>
    <tbody>
    {% for question in object_list %}
        <tr>
            <td><a href="{% url 'questions:question-update' question.pk %}">{{ question.question_text }}</a></td>
            <td>{{ question.choice }}</td>
            <td>{{ question.choice_group }}</td>
            <td>
                <a href="{% url 'questions:question-copy' question.pk %}" class="btn btn-primary btn-sm" role="button" >Copy</a>
                <a href="{% url 'questions:question-generate' question.pk %}" class="btn btn-secondary btn-sm" role="button" >Generate</a>
            </td>
            <td>
                {{ question.last_modified }}
            </td>

        </tr>
    {% endfor %}
    </tbody>
    </table>

    <script>
        $(document).ready( function () {
            {#$('#myTable').DataTable();#}

            $('#myTable').DataTable({
                "order": [4, "desc"]  //sort order 0 based columns
                {#"order": [[0, "desc"], [1, "asc"]]  //sort order 0 based columns#}
            });
        })
    </script>



{% endblock %}