{% extends "questions/base.html" %}

{% block title %}Create Question{% endblock %}

{% block content %}


<br>
<form method="post" id="questionForm" data-choices-url="{% url 'questions:ajax_load_choices' %}">
    {% csrf_token %}
    <table >
        {{ form }}
    </table>
    <br>
    <input type="submit" value="Submit">
    <input type="reset" >

</form>


 <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_choice_group").change(function () {
      var url = $("#questionForm").attr("data-choices-url");  // get the url of the `load_cities` view
      var choice_group_Id = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'choice_group': choice_group_Id       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_choice").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>


{% endblock %}